<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="DBCON" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=HelloKitty; Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime maxRequestLength="1048576" />
    </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
        <!--Setting max upload limit to 1 GB-->
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
